@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;

  --primary: 174 70% 50%;
  --primary-foreground: 222.2 47.4% 11.2%;
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}